root = true

[**]
end_of_line = lf
insert_final_newline = true

# Why 2 spaces?
# -------------
# I prefer 4-wide tabs personally :3
# however, I have made the decision of using
# nixpkgs-fmt as the formatter for this repo
# and it expects 2 spaces (which is the code
# style used for the Nixpkgs repo).
#
# Issue #306 is currently holding a debate
# whether this should be configurable.
# Honestly, who cares? This repo will just
# also use 2 spaces and if you don't like it
# then cope (safely).
indent_style = space
indent_size = 2
tab_width = 2
