[submodule "old/users/apro/config/awesome/modules/battery_widget"]
	path = old/users/apro/config/awesome/modules/battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget.git
[submodule "old/users/apro/config/awesome/modules/color"]
	path = old/users/apro/config/awesome/modules/color
	url = https://github.com/andOrlando/color.git
[submodule "old/users/apro/config/awesome/modules/rubato"]
	path = old/users/apro/config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule "old/users/apro/config/awesome/modules/bling"]
	path = old/users/apro/config/awesome/modules/bling
	url = git@github.com:Aproxia-dev/bling.git
	branch = playerctl_metadata_v2
[submodule "old/users/apro/config/awesome/modules/bling_stable"]
	path = old/users/apro/config/awesome/modules/bling_stable
	url = git@github.com:BlingCorp/bling.git
